---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Compétences" />
		<p>
		Fort d'un diplôme en Développement Web, j'ai acquis de solides compétences en front/back-end, maquettage et conception de prototypes. 
		Je poursuis actuellement ma formation de concepteur d'interface UI, ce qui me permet d'approfondir mes connaissances en UI/UX.
		</p>
	</div>
</section>
