---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="personnage 2D"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="A propos" />
			<p class="about__text">
		Je suis Naomi, une passionnée de développement web et de design, 
        actuellement à la recherche d'une d'alternance dans le Design UI/UX pour mon Bachelor Concepteur d'Interface UI. <br/>
        Bien que je n'aie pas encore d'expérience professionnelle, je suis animée par le désir de mettre en pratique 
        mes connaissances et de contribuer à des projets tout en continuant à en apprendre plus.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
