---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="NaomiMd">
	<div class="terminal__skills">
		<h2>Mes compétences</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/bootstrap.svg"
				color="#7738ff"
				name="Bootstrap"
			/>
			<TerminalIcon
				src="/assets/javascript.svg"
				color="#FF4747"
				name="JS"
			/>
			<TerminalIcon
				src="/assets/php.svg"
				color="#00D1FF"
				name="PHP"
			/>
			<TerminalIcon src="/assets/wordpress.svg" color="#F3CBC2" name="Wordpress" />
			<TerminalIcon src="/assets/css.svg" color="#00A3FF" name="CSS" />
			<TerminalIcon
				src="/assets/figma.svg"
				color="#3F75FF"
				name="Figma"
			/>
		</div>
	</div>
</Terminal>
